*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
public/uploads
db/schema.rb
config/database.yml
db/sphinx
config/development.sphinx.conf
.idea
*.DS_Store
